*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 12px;
}

.content{
    position: relative;
    width: 400px;
}

.wrapper {
    width: 400px;
    position: relative;
    margin-top: 44px;
    /*height: 2700px;*/
}

.box{
    width: 400px;
    height: 900px;
    top: 0; /* 44px ? */
    left: 0;

    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
}

.box h1{
    padding: 0;
    position: absolute;
    transform: translate3d(0,0,0);
}

.box1{
    background-color: #9b59b6;
}

.box2{
    background-color: #1abc9c;
}

.box3{
    background-color: #e74c3c;
}