html {

}
@font-face {
    font-family: SansitaSwashed;
    src: url('/font/SansitaSwashed-Regular.ttf') format('truetype');
}

.heel {
    width: 300px;
    height: 300px;
    border-color: #52575d;
    border-width: 2px;
    color: #f6f4e6;
    margin-top: 30px;
    margin-bottom: 30px;
}

#textboxid
{
    height:200px;
    font-size:14pt;
    resize: none;
}
.postBox {
    background-color: darkgrey;
    border-color: yellow;
    margin-bottom: 30px;
    margin-top: 30px;
}
.postTitle {
    margin-top: 10px;
    min-width:600px;
}
.postTags {
    margin-top: 10px;
    min-width: 200px;
}

.searchbar {
    color: #f6f4e6;
}
.heel img {
    width: 100%; /* width of container */
    height: 100%; /* height of container */
    object-fit: cover;
    object-position: 20% 10%; /* try 20px 10px */
    filter: hue-rotate(240deg) blur(50) grayscale(50%);
    -webkit-filter: blur(1pt);

}
.heel h4 {
}
.login {
    color: #fddb3a;
}
