html {

}

.header-logo {
    width: 64px;
}

.heel {
    width: 300px;
    height: 300px;
    border-color: #52575d;
    border-width: 2px;
    color: #f6f4e6;
    margin-top: 30px;
    margin-bottom: 30px;
}

#textboxid
{
    height:200px;
    font-size:14pt;
    resize: none;
}
.postBox {
    background-color: darkgrey;
    border-color: yellow;
    margin-bottom: 30px;
    margin-top: 30px;
}
.postTitle {
    margin-top: 10px;
    min-width:600px;
}
.postTags {
    margin-top: 10px;
    min-width: 200px;
}

.searchbar {
    color: #f6f4e6;
}
.heel img {
    width: 100%; /* width of container */
    height: 100%; /* height of container */
    object-fit: cover;
    object-position: 20% 10%; /* try 20px 10px */
    filter: hue-rotate(240deg) blur(50) grayscale(50%);
    -webkit-filter: blur(1pt);
}
.heel span {
    background-color: rgba(150, 150, 150, 0.5);
    padding: 5px;
    border-radius: 5px;
    text-shadow: 2px 2px #3c3c3c;

}

.login {
    color: #fddb3a;
}
.footer {
    color: #f6f4e6;
}
.login{
    color: #f6f4e6;
}

.postCreation.container{
    margin-top: 50px;
}

.postCreation row {
    margin-top: 15px;
}
.postCreation row.form-group {
    padding-left: 15px;
    padding-right: 15px;
}
.postCreation btn {
    margin-left: 15px;
}

.postCreation a {
    background-color: #000;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    bottom: 10%;
    color: #fff;
    opacity: 0.8;
    padding: 4px;
    position: absolute;
    text-align: center;
    width: 300px;

}
.postCreation a:hover {
    color: #fff;
    text-decoration: none;
}

.creationImgBox{
    width: 300px;
    height: 300px;
    border-color: #52575d;
    border-width: 2px;
    color: #f6f4e6;
    margin-top: 30px;
    margin-bottom: 30px;
}

.postCreation img {
    width: 100%; /* width of container */
    height: 100%; /* height of container */
    object-fit: cover;
    object-position: 20% 10%; /* try 20px 10px */
}

.postCreation #editor-container {
    height: 130px;
}

.postCreation button {
    position: center;
    margin-top: 10px;
}

a:link {
    color:yellow;
}
a:visited {
    color:yellow;
}
a:hover {
    color:yellow;
}
a:active {
    color:yellow;
}

@font-face {
    font-family: SansitaSwashed;
    src: url('/font/SansitaSwashed-Regular.ttf') format('truetype');
}
#textboxid
{
    height:200px;
    font-size:14pt;
    resize: none;
}
.heelContentBody {
    -webkit-filter: blur(1pt)
}

.heelContainer {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 80px;
    margin-bottom: 150px;

    position: relative;
    width: 100%;

}
.heelContent {
    /*position: -webkit-sticky;
    position: sticky;*/

    position: relative;
    margin-top: 44px;
}

.heelContentBox {
    /*width: 100%;
    height: 900px;
    top: 0; /* 44px ? */
    /*left: 0;*/

    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
}
.heelDesc {
    width: 300px;
    height: auto;
    border-color: #52575d;
    border-width: 4px;
    color: #52575d;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    margin-left: 20px;
}

.heelDescHeader {
    background-color: #fddb3a !important;
}
.heelDesc h2 {
    margin:0 auto;
    margin-top:20px;
}

.heelContainer post h2{
    margin:0 auto;
    margin-top:20px;
}
.heelContainer post p{
    margin:0 auto;
    margin-top:20px;
    padding-left: 10px;
    padding-right: 10px;

}
.container {
    margin-top: 80px;
    margin-bottom: 150px;
}

.postsRow {
    margin-left: 370px !important;
}
.posts{

    padding: 20px !important;
    margin: 20px !important;
}

.fullRow{
    height: 100% !important;
}

.highlighted{
    background-color: #fddb3a !important;
}
.comment {
    margin-top: 80px;
    margin-bottom: 150px;
    margin-inline: 20px;
}